/***
Login page
***/

/* logo page */
.login {
    background-color: #829aa8 !important;
}

.login .logo {
    margin: 0 auto;
    margin-top:90px; /*60*/
    padding: 30px; /*15*/
    text-align: center;
}


.login .content {
    background: url(../assets/img/bg-white-lock.png) repeat;
    width: 500px; /*360*/
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 60px; /*30*/
    padding-top: 10px;
    padding-bottom: 5px;
}

.login .content h3 {
    color: #eee;
}
.login .content h4  {
    color: #eee;
}

.login .content p,
.login .content label {
    color: #fff;
}

.login .content .login-form,
.login .content .forget-form {
    padding:  0px;
    margin: 0px;
}

.login .content .form-control {
    background-color: #fff;
}

.login .content .forget-form {
    display: none;
}


.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    background-color: transparent;
    clear: both;
    border: 0px;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .forget-password {
    margin-top: -10px;
}


.login .content .has-error .select2-container i {
    color: #FF0000; /*b94a48*/
}


/* footer copyright */
.login .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #eee;
    font-size: 13px;
}

@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top:10px;
    }

    .login .content {
        padding: 30px;
        width: 222px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .login .checkbox {
        font-size: 13px;
    }
}